.navbar img {
    width: 15%;
    height: 10%;
}
.art-about-1 {
    height: 100vh;
    background-image: url(/img/about-1.jpg);
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}
.art-about-1 h2 {
    position: absolute;
    bottom: 2.5rem;
    text-align: center;
    /* left: 50%; */
    width: 90%;
    /* right: 50%; */
    color: white;
    font-size: 3.5rem;
}
.box{
    width: 100%;
    height:600px;
    padding: 40px 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
.art-about-3 {
    background-image: url(/img/about-2.jpg);
    background-attachment: fixed;
    background-size: cover;
}

