@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}
.card img {
    height: 18rem;
}
/* ---navbar--- */
.navbar img {
    width: 35%;
    height: 10%;
}
.navbar-nav a {
    color: rgb(122, 194, 236);
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
}
.nav-item {
    padding: 0 1px;
}
.nav-link {
    position: relative;
    overflow: hidden;
    text-decoration: none;
    transition: .3s;
}
.nav-link:before {
    content: "";
    position: absolute;
    top: 0;
    right: 100%;
    width: 50%;
    height: 2px;
    background: rgb(103, 105, 223);
    transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.nav-link:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 100%;
    width: 50%;
    height: 2px;
    background: rgb(103, 105, 223);
    transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.nav-link:hover {
    color: rgb(103, 105, 223);
}
.nav-link:hover:before {
    right: 0;
}
.nav-link:hover:after{
    left: 0;
}
.navbar .navbar-brand {
    font-size: 25px;
}
.navbar-light .navbar-brand {
    font-size: 25px;
}
.navbar-toggler {
    padding: 1px 5px;
    font-size: 18px;
    line-break: 0.3;
}

/* ----Slider---- */
.carousel-item img {
    height: 50rem;
}
.carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat scroll center scroll;
    -webkit-background-size: cover;
    background-size: cover;
}
.carousel-item::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgb(56, 56, 139); 
    opacity: 0.7;
}
.carousel-caption {
    bottom: 220px;
}
.carousel-caption h5 {
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
}
.carousel-caption p {
    font-size: 2.5rem;
    width: 75%;
    margin: auto;
    line-height: 1.5;
}
/* Article Container with Image */
.art-container-img {
    height: 40vh;
    min-height: 200px;
}
.art-container-img img {
    width: 450px;
    padding: 60px 30px;
}

/* ---background images--- */
.art-about-1 {
    background-image: url(/img/about-1.png);
}
.art-train-1 {
    background-image: url(/img/trai.jpg);  
}
.art-business-1 {
    background-image: url(/img/business-sup.jpg);      
}
.art-finance-1 {
    background-image: url(/img/fina.avif);          
}
.art-media-1 {
    background-image: url(/img/medi.jpg);
}
.art-market-1 {
    background-image: url(/img/market.avif);
}
/* ---About Page--- */
.art-about-1, .art-train-1, .art-business-1, .art-finance-1, .art-media-1, .art-market-1 {
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    object-fit: cover;
}
.art-about-1::before, .art-train-1::before, .art-business-1::before, .art-finance-1::before, .art-media-1::before, .art-market-1::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgb(56, 56, 139); 
    opacity: 0.7;
}
.art-about-1 h2, .art-train-1 h2, .art-business-1 h2, .art-finance-1 h2, .art-media-1 h2, .art-market-1 h2 {
    position: absolute;
    bottom: 2.5rem;
    text-align: center;
    width: 90%;
    color: white;
    font-size: 2.5rem;
}
.box{
    width: 100%;
    height:600px;
    padding: 40px 60px;
    text-align: center;
}

/* --- media --- */

.back-video {
    position: reletive;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
}
.head-content {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 90%;
    max-width: 900px;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}
.head-content h1 {
    font-size: 65px;
    font-weight: 600;
    margin-bottom: 40px;
}
/* .modal-bg {
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s opacity 0.5s;
}
.bg-active {
    visibility: visible;
    opacity: 1;
}
.modal {
    background-color: whitesmoke;
    width: 30%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */


/* ---- media query---- */
@media only screen and (max-width: 727px) {
    .navbar-nav{
        text-align: center;
    }
    .carousel-caption {
        top: 165px;
    }
    .carousel-caption h5 {
        font-size: 17px;
    }
    .carousel-caption a {
        padding: 10px 15px;
        font-size: 15px;
    }
}